<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo3.sample.repository.BoardMapper">
    <select id="selectBoardList" parameterType="com.example.demo3.sample.domain.BoardVO" resultType="com.example.demo3.sample.domain.BoardVO">
        SELECT 
        	*
        FROM 
        BOARD
    </select>
    
    <insert id="insertBoard" parameterType="com.example.demo3.sample.domain.BoardVO">
        INSERT INTO board (title, content_text) VALUES (#{title}, #{contentText})
    </insert>
</mapper>